{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% set navPos = shopware.config.gstaSlimFooter.config.navPosition %}
    {% set hideCopyright = shopware.config.gstaSlimFooter.config.hideCopyright %}
    {% set hideVat = shopware.config.gstaSlimFooter.config.hideVat %}
    {% set linkDivider = shopware.config.gstaSlimFooter.config.linkDivider %}

    <ul class="nav {% if navPos == '2' %}justify-content-center{% elseif navPos == '1' %}{% elseif navPos == '3' %}justify-content-end{% endif %} {% if linkDivider %}gsta-slimFooter__linkDivider{% endif %}">
        {% for root in page.footer.navigation.tree %}
            {% set linkId = root.category.cmsPageId %}
            <li class="footer-link-item pt-1 pb-1">
                <a class="footer-link px-1 {% if linkId is same as(page.cmsPage.id) %}active{% endif %}"
                   href="{{ seoUrl('frontend.navigation.page', { navigationId: root.category.id }) }}">
                    {{ root.category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% block layout_footer_bottom %}
        {% if hideVat is same as (true) and hideCopyright is same as (true) %}
        {% else %}
            <div class="p-1 d-md-flex justify-content-center">
                {% if not hideVat %}
                    {% block layout_footer_vat %}
                        <div class="small text-center {% if not hideCopyright %}mb-2 mr-md-4{% endif %} mb-md-0">
                            {% if context.taxState == "gross" %}
                                <p class="m-0">{{ "footer.includeVat"|trans|sw_sanitize }}</p>
                            {% else %}
                                <p class="m-0">{{ "footer.excludeVat"|trans|sw_sanitize }}</p>
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endif %}
                {% block layout_footer_service_menu %}{% endblock %}

                {% if not hideCopyright %}
                    {% block layout_footer_copyright %}
                        <div class="small footer-copyright">
                            {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
